<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <springProperty scope="context"
                    name="SERVICE_NAME"
                    source="spring.application.name"
                    defaultValue="unknown-service"/>

    <appender name="JSON_CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>

                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>

                <message>
                    <fieldName>message</fieldName>
                </message>

                <globalCustomFields>
                    {
                    "service": "${SERVICE_NAME}"
                    }
                </globalCustomFields>

                <mdc>
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                    <includeMdcKeyName>spanId</includeMdcKeyName>
                    <includeMdcKeyName>requestId</includeMdcKeyName>
                    <includeMdcKeyName>userId</includeMdcKeyName>
                </mdc>


                <stackTrace>
                    <fieldName>stacktrace</fieldName>
                </stackTrace>

            </providers>

        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>


    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="io.netty" level="WARN"/>

</configuration>